<!DOCTYPE html>
<html>
    <head>
        <!-- Bootstrap CSS -->
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
       <title></title>
    </head>
  <body>
    <nav class=" d-flex justify-content-center navbar navbar-dark bg-primary" style="background-color: #e3f2fd;">
      <span class="navbar-brand mb-0 h1">Simulador Substituição de Páginas FIFO</span>
    </nav>

    <div class="container" style="margin-top: 4%;">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-11">
          <p style="font-size: 13pt"><b>Sequência de referência:</b> {% for sq in seq_referencia %}
          {{sq}}
          {% endfor %}</p>   
          <p style="font-size: 13pt"><b>Quantidade de Quadros:</b> {{qtd_quadros}}</p>
          <p style="font-size: 13pt"><b>Memória principal após os acessos:</b> {% for quadro in quadros %}
          {{quadro}}
          {% endfor %}</p>
          <p style="font-size: 13pt"><b>Falta de Páginas:</b> {{falta_paginas}}</p>
          <p style="font-size: 13pt"><b>Pit:</b> {{pit}}</p>
          <a class="btn btn-primary" href="/" role="button">Voltar</a>
        </div>
      </div>
    </div>
    <footer id="sticky-footer" class="py-3 bg-primary text-white-50" style="position:absolute;bottom:0;width:100%;">
      <div class="container text-center">
        <medium>&copy; Copyright 2020 - Geovana Martins </medium>
      </div>
    </footer> 

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
   </body>
</html>